.product {
  justify-self: center;
  padding: 1.6rem;
  transition: all 0.5s ease;
}

.product h2 {
  font-weight: 300;
  font-size: 1.8rem;
}

.notInStock {
  background: white;
  opacity: 0.5;
  z-index: -1;
}

.product span {
  font-weight: 600;
}

.imgContainer {
  position: relative;
}

.imgContainer img {
  width: 100%;
  height: 33rem;
  object-fit: cover;
}

.imgContainer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #8d8f9a;
  font-size: 2.4rem;
  font-weight: normal;
}

.productCart {
  display: none;
  position: absolute;
  bottom: -1rem;
  right: 1.5rem;
  width: 0;
  height: 0;
  width: 5.2rem;
  height: 5.2rem;
  background-color: var(--mainGreen);
  border-radius: 50%;
  cursor: pointer;
}

.productCart img {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0;
  pointer-events: none;
}

.product .info {
  margin-top: 2rem;
}

.info h2 {
  margin-bottom: 1rem;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product:hover .productCart {
  display: flex;
  justify-content: center;
  align-items: center;
}
