.cart {
  color: var(--mainBlack);
}

.cart h1 {
  font-weight: 700;
  font-size: 3.2rem;
  text-transform: uppercase;
  padding: 8rem 0;
  border-bottom: 1px solid #e5e5e5;
}

.emptyCart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyCart h1 {
  color: var(--mainGreen);
  text-align: center;
  margin: 0;
  font-weight: bolder;
  border: none;
}

.emptyCart img {
  height: 20rem;
  width: 40rem;
  object-fit: cover;
}

.totals {
  margin-top: 3rem;
  width: 20rem;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
}

.calc {
  width: 100%;
  display: flex;
}

.calc span {
  flex: 1;
}

.orderBtn {
  margin: 2rem 0;
  background: var(--mainGreen);
  border: none;
  color: white;
  width: 28rem;
  height: 4.3rem;
  text-transform: uppercase;
  cursor: pointer;
}
